In [ ]:
print("hello world")

hello world

In [ ]:
print(9)

9

In [ ]:
print("india", "pakistan", "nepal")

india pakistan nepal

In [ ]:
print("india", 7, True)

india 7 True

In [ ]:
print("india","pakistan","nepal", sep = "/")
print("india","pakistan","nepal", sep = "-")

india/pakistan/nepal
india-pakistan-nepal

In [ ]:
print("india" ,end = "-") # instead of next like pakistand is printing in same like with hyphen
print("pakistan") #by defalult end = '/n'

india-pakistan

In [1]:
## python supports 3 categories of data types
# basic types - (integer, float, complex, boolean and string)
# user-defined types - class

#integer
print(892323423490888)
print(1e308) #range of integer
print(1e309) #showing infinity

892323423490888

In [6]:
#float
print(892323423490888.763457834)
print(1.7e308) #range of float
print(1.2e309) #showing infinity

892323423490888.8
1.7e+308
inf

In [8]:
#boolean
print(True)
print(False)

True
False

In [9]:
#complex
print(4+5j)

(4+5j)

In [10]:
#string
print("kolkata")
print('kolkata')
print("""kolkata""")

kolkata

In [11]:
#list
print([1,2,45,656,899]) #square bracket is use in list

[1, 2, 45, 656, 899]

In [12]:
#tuple
print((1,2,3,45,564)) #paranthesis is use in tuple

(1, 2, 3, 45, 564)

In [13]:
#sets
print({1,23345,45,6}) #curly bracket are used in sets

{1, 45, 6, 23345}

In [15]:
#dict : key value pairs are used
print({'name':"Prachi", 'age' : 19, 'gender': "female"})

{'name': '', 'age': 19, 'gender': 'male'}

In [17]:
#variables : containers and future use  (dynamic typing no need to declare type of datatype )
name = "prachi"
print(name)

prachi

In [18]:
name = "hello world"
print(name)

hello world

In [21]:
print(name)
name = 7 #dynamic binding : when variable can store multiple datatype
print(name)
#note : in c / c++ their is a static binding so no onw can reclare with different variable
#imp : dynamic typing + dynamic binding

7
7

In [26]:
#special declaration syntax
a= 5; b=4; c = 8;
print(a)
print(b)
print(c)
a=b=c = 9
print(a)
print(b)
print(c)
a,b,c= 4,5,6
print(a)
print(b)
print(c)

5
4
8
9
9
9
4
5
6

In [27]:
#identifiers and keywords : 33 kw
#python is case sensitive language
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

A keyword in Python is a special reserved word that has a fixed meaning in the language.
You cannot use keywords as:
 **1. variable names
2. function names
3. class names**

In [51]:
#identifiers : a python identifiers is a name used to identify a variable, function. class. module or other object
#1name = "prachi " #no
_name = 8 #yes
prachi7 = 9 #yes

‚úÖ Rules of Identifiers in Python
1Ô∏è‚É£ Can use letters, digits, and underscore (_)
2Ô∏è‚É£ Cannot start with a digit
3Ô∏è‚É£ Cannot use Python keywords as identifiers
4Ô∏è‚É£ No special characters allowed
5Ô∏è‚É£ Identifiers are case-sensitive

In [53]:
#input take from user
input("enter your name : ")
a = input("first value ")
b= input ("second value ")
print(a+b) #this will give value in string formate
print(type(a))
print(int(a)+int(b))

enter your name : prachi
first value 3
second value 4
34
<class 'str'>
7

In [37]:
type(3.4)
type([2,34])
type("prachi")
type({2,3,4})

list

In [38]:
#two add two numbers do typeconversion
#type conversion
# implict and explict
4+2.3

6.3

In [43]:
 #explicite conversion
int(9.30)

8.0

In [44]:
float(8)

8.0

In [45]:
str(4)

'4'

In [46]:
bool(0)

False

In [47]:
complex(4)

(4+0j)

In [48]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [49]:
set("3568")

{'3', '5', '6', '8'}

In [58]:
#type conversion is not parmanent while type casting in c is parmanent
#input take from user

a = int(input("first value "))
b=int(input ("second value "))
print(a+b)

first value 3
second value 4
7

A literal is a fixed value written directly in the code. 1Ô∏è‚É£ Numeric Literals 2Ô∏è‚É£ String Literals  3Ô∏è‚É£ Boolean Literals 4Ô∏è‚É£ Special Literal 5Ô∏è‚É£ Collection Literals

In [63]:
a = 0b1010 #binary literal
b = 100 #decimal iteral
c = 0o100 #octal
d = 0x100 #hexadecimal
#float
float1 = 10.4
float2 = 1.5e2
float3 = 1.3e-3

#complex literal
x = 3.14j
print(a,b,c,d)
print(float1, float2, float3)
print(x, x.imag, x.real)

10 100 64 256
10.4 150.0 0.0013
3.14j 3.14 0.0

In [74]:
#string literals
string = 'this is python'
strings = "this is python"
char = 'c'
multilineStr = """this is multiline strig with more than one line code
line 1
line 2
line 3 """
unicode = u"\U0001f600"
raw_str = r"raw\n string"
print(unicode)
print(multilineStr)
print(raw_str)

üòÄ
this is multiline strig with more than one line code
line 1
line 2
line 3
raw\n string

In [77]:
#Boolean literals
a = True + 4
b = False + 10
print(a,b)

5 10

In [80]:
# Special Literal : Used to represent empty or missing value
a = None # absence : use for variable declaration for future use
print(a)

None

In [82]:
#operators : oerators are used to perform operation on variables and values . python has the following operations
# 1. arithmentic 2. comparison 3.logical 4. Bitwise 5.Assignment 6. Identify 7. Membership operators

#arithmetic
x = int(3)
y = int(3)
print(x+y)
print(x-y)
print(x**y)
print(x*y)
print(x%y)
print(x/y)

6
0
27
9
0
1.0

In [83]:
#comparison
print(x>y)
print(x<y)
print(x==y)
print(x<=y)
print(x!=y)
print(x>=y)

False
False
True
True
False
True

In [85]:
#logical operator : and or not
x = True
y = False
print(x and y)
print(x or y)
print(not y)

False
True
True

In [92]:
#Bitwise operators : binary
x = 2
y = 3
print( 2 & 3 ) #output 2
print(2 | 3)
#bitwise shift operators
print(x>>2)
print(y<<3)
#bitwise Not
print(~x)

2
3
0
24
-3